/compareDf.ipynb
/crawler.py
/in5_Startups.csv
/in5_Startups1.csv
/in5_Startups2.csv
/in5_Startups3.csv
/in5_Startups4.csv
/ini5_processed
/key.json
/lib
/openCV_processed
/out
/out.csv
/out.zip
/processed
/temp.py
/text
/webqa.py
/webScraper.py
/webscrapeTest.py